<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>86730124075-0guvo18lhrvufjcbobg6u6r8i0n88s1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86730124075-0guvo18lhrvufjcbobg6u6r8i0n88s1f</string>
	<key>API_KEY</key>
	<string>AIzaSyBDW-awgLGeH8Kg4vSLhT7TCqm5Q3emii0</string>
	<key>GCM_SENDER_ID</key>
	<string>86730124075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mitosis.-HRGroceryCustomerApp</string>
	<key>PROJECT_ID</key>
	<string>grocerystore-2hr</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerystore-2hr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86730124075:ios:0b4207951fe367e6</string>
	<key>DATABASE_URL</key>
	<string>https://grocerystore-2hr.firebaseio.com</string>
</dict>
</plist>